<body class="intro">
  <div class="header">
    <nav class="container">
      <div class="row navigation">
        <div class="col-md-3 logo">
          <img src="images/logo-blue.svg" alt=""></div>
          <div class="col-md-offset-5 col-md-3">
            <div class="input-group">
              <span class="input-group-addon">Login</span>
              <input type="text" class="form-control" placeholder="Email">
            </div>
          </div>
        </div>
      </nav>
    </div>
    <!-- Home -->
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-3 col-md-offset-3"><a href="/city/san-francisco">
          <div class= "box text-center center">
            <h3 class="blocktext">San Francisco & Northern California</h3>
          </div></a>
        </div>
        <div class="col-md-3">
          <div class= "box text-center center">
             <h3 class="blocktext">Portland</h3>
          </div>
        </div>
        <div class="row"></div>
        <div class="col-md-3 col-md-offset-3">
          <div class= "box text-center center">
           <h3 class="blocktext">Miami & South Florida</h3>
          </div>
        </div>
        <div class="col-md-3">
          <div class= "box text-center center">
             <h3 class="blocktext">Columbus</h3>
          </div>
        </div>
      </div>
      <div class="row"></div>
      <div class="col-md-3 col-md-offset-3">
        <div class= "box text-center center">
          <h3 class="blocktext">Chicago Area</h3>
        </div>
      </div>
      <div class="col-md-3">
        <div class= "box text-center center">
          <h3 class="blocktext">Southern & Central California</h3>
        </div>
      </div>
    </div>


  <!-- JS -->
  <script src="http://code.jquery.com/jquery.js"></script>

</body>